In [1]:
import pandas_datareader as pdr

In [2]:
import datetime

In [3]:
start = datetime.datetime(2006, 1, 1)
end = datetime.datetime(2018, 1, 1)
start_date_str = str(start.date())
end_date_str = str(end.date())

In [4]:
stocks = ['MMM', 'AXP', 'AAPL', 'BA', 'CAT', 'CVX', 'CSCO', 'KO', 'DIS', 'XOM', 'GE',
          'GS', 'HD', 'IBM', 'INTC', 'JNJ', 'JPM', 'MCD', 'MRK', 'MSFT', 'NKE', 'PFE',
          'PG', 'TRV', 'UTX', 'UNH', 'VZ', 'WMT', 'GOOGL', 'AMZN', 'AABA']

In [7]:
for ticker in stocks:
    file_name = 'data/' + ticker + '_' + start_date_str + '_to_' + end_date_str + '.csv'
    print(file_name)
    data = pdr.DataReader(ticker, 'yahoo', start, end)
    print(data.shape)
    data.to_csv(file_name)

data/MMM_2006-01-01_to_2018-01-01.csv
(3020, 6)
data/AXP_2006-01-01_to_2018-01-01.csv
(3020, 6)
data/AAPL_2006-01-01_to_2018-01-01.csv
(3020, 6)
data/BA_2006-01-01_to_2018-01-01.csv
(3020, 6)
data/CAT_2006-01-01_to_2018-01-01.csv
(3020, 6)
data/CVX_2006-01-01_to_2018-01-01.csv
(3020, 6)
data/CSCO_2006-01-01_to_2018-01-01.csv
(3020, 6)
data/KO_2006-01-01_to_2018-01-01.csv
(3020, 6)
data/DIS_2006-01-01_to_2018-01-01.csv
(3020, 6)
data/XOM_2006-01-01_to_2018-01-01.csv
(3020, 6)
data/GE_2006-01-01_to_2018-01-01.csv
(3020, 6)
data/GS_2006-01-01_to_2018-01-01.csv
(3020, 6)
data/HD_2006-01-01_to_2018-01-01.csv
(3020, 6)
data/IBM_2006-01-01_to_2018-01-01.csv
(3020, 6)
data/INTC_2006-01-01_to_2018-01-01.csv
(3020, 6)
data/JNJ_2006-01-01_to_2018-01-01.csv
(3020, 6)
data/JPM_2006-01-01_to_2018-01-01.csv
(3020, 6)
data/MCD_2006-01-01_to_2018-01-01.csv
(3020, 6)
data/MRK_2006-01-01_to_2018-01-01.csv
(3020, 6)
data/MSFT_2006-01-01_to_2018-01-01.csv
(3020, 6)
data/NKE_2006-01-01_to_2018-01-01.csv
(3020, 6)
data/PFE_2006-01-01_to_2018-01-01.csv
(3020, 6)
data/PG_2006-01-01_to_2018-01-01.csv
(3020, 6)
data/TRV_2006-01-01_to_2018-01-01.csv
(3020, 6)
data/UTX_2006-01-01_to_2018-01-01.csv
(3020, 6)
data/UNH_2006-01-01_to_2018-01-01.csv
(3020, 6)
data/VZ_2006-01-01_to_2018-01-01.csv
(3020, 6)
data/WMT_2006-01-01_to_2018-01-01.csv
(3020, 6)
data/GOOGL_2006-01-01_to_2018-01-01.csv
(3020, 6)
data/AMZN_2006-01-01_to_2018-01-01.csv
(3020, 6)
data/AABA_2006-01-01_to_2018-01-01.csv
(3020, 6)

In [8]:
import pandas as pd

In [9]:
for (i, ticker) in enumerate(stocks):
    file_name = 'data/' + ticker + '_' + start_date_str + '_to_' + end_date_str + '.csv'
    print(file_name)
    data = pd.read_csv(file_name, parse_dates=['Date'], index_col=['Date'])
    print(data.shape)
    data['Name'] = ticker
    data.to_csv(file_name)
    
    if i == 0:
        all_stocks = data
    else:
        all_stocks = all_stocks.append(data)
        
print(all_stocks.shape)
all_stocks_file_name = 'data/all_stocks_' + start_date_str + '_to_' + end_date_str + '.csv'
all_stocks.to_csv(all_stocks_file_name)

data/MMM_2006-01-01_to_2018-01-01.csv
(3020, 6)
data/AXP_2006-01-01_to_2018-01-01.csv
(3020, 6)
data/AAPL_2006-01-01_to_2018-01-01.csv
(3020, 6)
data/BA_2006-01-01_to_2018-01-01.csv
(3020, 6)
data/CAT_2006-01-01_to_2018-01-01.csv
(3020, 6)
data/CVX_2006-01-01_to_2018-01-01.csv
(3020, 6)
data/CSCO_2006-01-01_to_2018-01-01.csv
(3020, 6)
data/KO_2006-01-01_to_2018-01-01.csv
(3020, 6)
data/DIS_2006-01-01_to_2018-01-01.csv
(3020, 6)
data/XOM_2006-01-01_to_2018-01-01.csv
(3020, 6)
data/GE_2006-01-01_to_2018-01-01.csv
(3020, 6)
data/GS_2006-01-01_to_2018-01-01.csv
(3020, 6)
data/HD_2006-01-01_to_2018-01-01.csv
(3020, 6)
data/IBM_2006-01-01_to_2018-01-01.csv
(3020, 6)
data/INTC_2006-01-01_to_2018-01-01.csv
(3020, 6)
data/JNJ_2006-01-01_to_2018-01-01.csv
(3020, 6)
data/JPM_2006-01-01_to_2018-01-01.csv
(3020, 6)
data/MCD_2006-01-01_to_2018-01-01.csv
(3020, 6)
data/MRK_2006-01-01_to_2018-01-01.csv
(3020, 6)
data/MSFT_2006-01-01_to_2018-01-01.csv
(3020, 6)
data/NKE_2006-01-01_to_2018-01-01.csv
(3020, 6)
data/PFE_2006-01-01_to_2018-01-01.csv
(3020, 6)
data/PG_2006-01-01_to_2018-01-01.csv
(3020, 6)
data/TRV_2006-01-01_to_2018-01-01.csv
(3020, 6)
data/UTX_2006-01-01_to_2018-01-01.csv
(3020, 6)
data/UNH_2006-01-01_to_2018-01-01.csv
(3020, 6)
data/VZ_2006-01-01_to_2018-01-01.csv
(3020, 6)
data/WMT_2006-01-01_to_2018-01-01.csv
(3020, 6)
data/GOOGL_2006-01-01_to_2018-01-01.csv
(3020, 6)
data/AMZN_2006-01-01_to_2018-01-01.csv
(3020, 6)
data/AABA_2006-01-01_to_2018-01-01.csv
(3020, 6)
(93620, 7)

In [10]:
print(all_stocks.shape)

(93620, 7)

In [11]:
all_stocks = pd.read_csv(all_stocks_file_name, parse_dates=['Date'], index_col=['Date'])

In [12]:
all_stocks_2017 = all_stocks.loc['2017']

In [13]:
all_stocks_2017

,High,Low,Open,Close,Volume,Adj Close,Name
Date,,,,,,,
2017-01-03,180.000000,177.220001,178.830002,178.050003,2509300.0,159.426880,MMM
2017-01-04,178.899994,177.610001,178.029999,178.320007,1542000.0,159.668640,MMM
2017-01-05,179.139999,176.889999,178.259995,177.710007,1447800.0,159.122437,MMM
2017-01-06,178.600006,175.800003,177.289993,178.229996,1625000.0,159.588043,MMM
2017-01-09,178.380005,177.199997,178.369995,177.270004,1622600.0,158.728455,MMM
...,...,...,...,...,...,...,...
2017-12-22,71.870003,71.220001,71.419998,71.580002,10979165.0,19.512630,AABA
2017-12-26,71.389999,69.629997,70.940002,69.860001,8542802.0,19.043760,AABA
2017-12-27,70.489998,69.690002,69.769997,70.059998,6345124.0,19.098280,AABA
2017-12-28,70.320000,69.510002,70.120003,69.820000,7556877.0,19.032856,AABA
2017-12-29,70.129997,69.430000,69.790001,69.849998,6613070.0,19.041035,AABA

In [14]:
all_stocks_2017_file_name = 'data/all_stocks_2017-01-01_to_2018-01-01.csv'

In [15]:
all_stocks_2017.to_csv(all_stocks_2017_file_name)